<h1>Listing messages</h1>

<table>
  <tr>
    <th>T</th>
    <th>Published</th>
    <th>Link</th>
    <th>Title</th>
    <th>Content</th>
    <th>T updated</th>
    <th>Authorname</th>
    <th>Authorurl</th>
    <th>User</th>
    <th>Venture</th>
    <th>Need</th>
  </tr>

<% for message in @messages %>
  <tr>
    <td><%=h message.t_id %></td>
    <td><%=h message.published %></td>
    <td><%=h message.link %></td>
    <td><%=h message.title %></td>
    <td><%=h message.content %></td>
    <td><%=h message.t_updated %></td>
    <td><%=h message.authorname %></td>
    <td><%=h message.authorurl %></td>
    <td><%=h message.user %></td>
    <td><%=h message.venture %></td>
    <td><%=h message.need %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New message', new_message_path %>
