<p>
  <b>T:</b>
  <%=h @message.t_id %>
</p>

<p>
  <b>Published:</b>
  <%=h @message.published %>
</p>

<p>
  <b>Link:</b>
  <%=h @message.link %>
</p>

<p>
  <b>Title:</b>
  <%=h @message.title %>
</p>

<p>
  <b>Content:</b>
  <%=h @message.content %>
</p>

<p>
  <b>T updated:</b>
  <%=h @message.t_updated %>
</p>

<p>
  <b>Authorname:</b>
  <%=h @message.authorname %>
</p>

<p>
  <b>Authorurl:</b>
  <%=h @message.authorurl %>
</p>

<p>
  <b>User:</b>
  <%=h @message.user %>
</p>

<p>
  <b>Venture:</b>
  <%=h @message.venture %>
</p>

<p>
  <b>Need:</b>
  <%=h @message.need %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
