<div class="vtclearfix vtcontainer">
	<div class="vtcolumn vtspan-5">
		<%= render :partial => 'shared/twitter', :locals=>{:initial_value => @venture ? "#{@venture.tag} #{@need.tag}" : @need.tag} %>
	</div>

	<div class="vtspan-3 vtlast">
		<div id="actions-narrow">
			<h3>
				<span id="thread_name"><%= @need %></span>
				<%= link_to "(edit)", "", {:class => "edit-link", :class => "editLinkThreadName"} if logged_in? %>	
			</h3>
				
			<%- if @venture && @venture.name.blank? %>
				<p><%= link_to "Give this venture a full name", "", {:class => "editLinkThreadName"} %></p>
			<%- end -%>
				
			<script type="text/javascript" charset="utf-8">
				$(document).ready(function() {
				
					$(".editLinkThreadName").click(function (event) {
						event.preventDefault();
						$("#thread_name").click();
						$('.editLinkThreadName').hide();
					});
						
					$("#thread_name").click(function (event){
						$('.editLinkThreadName').hide();
					});
				
					$("#thread_name").editable('/needs/update/<%= @need.id %>.part', $.extend({}, editableOpts, {
						name: "venture[name]",
						callback: function() {
							$('.editLinkThreadName').show();
						},
						onreset: function() {
							$('.editLinkThreadName').show();
						},
						onerror: function() {
							$('.editLinkThreadName').show();
						}
					}));
				
				});
			</script>
		
			<%= render :partial => 'shared/editable_field', :locals => {:label => "Description", :name => "need[description]", :value => @need.description} %>
		
			<p><span class="label">Tag</span> <%= render :partial => 'shared/editable_value', :locals => {:value => @need.tag} %></p>
		
		</div>
	</div>
</div>

<div id="main-content-container"><div class="vtclearfix vtcontainer">
	<div class="vtspan-5">
		<div id="main-content">
			<%= render :partial => 'shared/message_feed',:locals=>{:messages => @need_messages} %>
		</div>
	</div>

	<div class="vtcolumn vtspan-3 vtlast">
		<div id="additional-content">
			<div>
				<h3>People active in this thread</h3>
				<ul>
				  <%- @contributors.each do |c| -%>
					  <li><%= link_to c.screen_name, user_path(c) %></li>
					<%- end -%>
				</ul>
			</div>
			<div>
				<h3>Associated ventures</h3>
				<ul>
				  <%- @ventures.each do |c| -%>
					  <li><%= link_to c.tag, venture_path(c) %></li>
					<%- end -%>
				</ul>
			</div>
		</div>
	</div>
</div></div>