<div class="vtcolumn vtspan-5">
	<%= render :partial => 'shared/twitter', :locals=>{:initial_value=>@venture ? "#{@venture.tag} #{@need.tag}" : @need.tag} %>
</div>

<div class="vtspan-3 vtlast">
	<div id="actions">
	  <h3><%=h @need.name %></h3>
	  <%- if @need.description -%><p><span class="label">Description</span> <%=h @need.description %></p><%- end -%>
	  <p><span class="label">Tag</span> <%=h @need.tag %></p>
		<p><%= link_to "Complete this need" %></p>
	</div>
</div>

<hr>

<div class="vtcolumn vtspan-5">
	<%= render :partial => 'shared/message_feed',:locals=>{:messages => @need_messages} %>
</div>

<div class="vtcolumn vtspan-3 vtlast">
	<div id="additional-content" class="vtspan-3 vtlast">
		<div class="vtspan-3 ">
				<h3>People working on this need</h3>
				<ul>
					<li><%= link_to '@emenel' %></li>
					<li><%= link_to '@igniter' %></li>
					<li><%= link_to '@josephdee' %></li>
				</ul>
		</div>
	</div>
</div>