<div class="vtcolumn vtspan-5">
	<%= render :partial => 'shared/twitter' %>
	<%= render :partial => 'shared/message_feed',:locals=>{:messages => @need_messages} %>
</div>

<div class="vtcolumn vtspan-3 vtlast">
	<div id="actions" class="vtspan-3 ">
	  <h3><%=h @need.venture %> &raquo; <%=h @need.name %></h3>
	  <%- unless @need.description.empty? -%><p><span class="label">Description</span> <%=h @need.description %></p><%- end -%>
	  <%- unless @need.tag.empty? -%><p><span class="label">Tag</span> <%=h @need.tag %></p><%- end -%>
		<p><%= link_to "Complete this need" %></p>
	</div>


	<div id="additional-content" class="vtspan-3 vtlast">
		<div class="vtspan-3 ">
			<h3>People working on this need</h3>
			<ul>
				<li><%= link_to '@emenel' %></li>
				<li><%= link_to '@igniter' %></li>
				<li><%= link_to '@josephdee' %></li>
			</ul>
		</div>
	</div>
</div>