<div class="vtcolumn vtspan-5">
	<div id="twitter" class="wireframe">
		<h3>What are you working on?</h3>
		<%- form_tag('messages/new') do -%>
			<%= text_area_tag('message') %>	
			<p><%= submit_tag('Post') %></p>
		<%- end -%>
	</div>
	<%= render :partial => 'shared/twitter_feed' %>
</div>

<div class="vtcolumn vtspan-3 vtlast">
	<div id="actions" class="vtspan-3 wireframe">
	  <h2><%=h @need.venture %> &raquo; <%=h @need.name %></h2>
	  <%- unless @need.description.empty? -%><p><span class="label">Description</span> <%=h @need.description %></p><%- end -%>
	  <%- unless @need.tag.empty? -%><p><span class="label">Tag</span> <%=h @need.tag %></p><%- end -%>
	</div>


	<div id="additional-content" class="vtspan-3 vtlast">
		<div class="vtspan-3 wireframe">
			<h3>People working on this need</h3>
			<ul>
				<li><%= link_to '@emenel' %></li>
				<li><%= link_to '@igniter' %></li>
				<li><%= link_to '@josephdee' %></li>
			</ul>
		</div>
	</div>
</div>