<p>
  <b>Description:</b>
  <%=h @need.description %>
</p>

<p>
  <b>Name:</b>
  <%=h @need.name %>
</p>

<p>
  <b>Tag:</b>
  <%=h @need.tag %>
</p>

<p>
  <b>Venture:</b>
  <%=h @need.venture %>
</p>

<p>
  <b>User:</b>
  <%=h @need.user %>
</p>


<%= link_to 'Edit', edit_need_path(@need) %> |
<%= link_to 'Back', needs_path %>
