<div id="twitter" class="vtspan-5 wireframe">
	<h2>Please log in with you Twitter account</h2>
	<%- form_tag('users/login') do -%>
		<div class="vtclearfix">
			<div class="vtspan-2">
				<%= label_tag('user_name', 'User Name') %><br>
				<%= text_field_tag('user_name') %>
			</div>
			<div class="vtspan-2 vtlast">
				<%= label_tag('password', 'Password') %><br>
				<%= password_field_tag('password') %>
			</div>
		</div>
		
		<p><%= submit_tag('Login') %></p>
	
		<p class="vtsmall vtquiet">We do not store your user name or password, it is used only to retrieve data from the Twitter API</p>
	<%- end -%>
</div>

<div id="actions" class="vtspan-3 wireframe vtlast">
	<h2>Log in to Ventwits so you can:</h2>
	<ul>
		<li>Create new Ventures and manage Needs</li>
		<li>Participate in on going Ventures</li>
		<li>Fulfil Needs and help others see their vision come to life</li>
		<li>Become part of a vibrant community of talented professionals</li>
	</ul>
</div>

<%= render :partial => 'shared/twitter_feed' %>

<div id="additional-content" class="vtspan-3 vtlast vtclearfix">
	<div class="vtspan-3 wireframe vtlast">
		<h3>Most Active Ventures</h3>
		<ul>
			<li>VenTwits</li>
			<li>GroupTwits</li>
			<li>Lend4Health</li>
			<li>Twitter</li>
			<li>FTJCO</li>
		</ul>
	</div>
	<div class="vtspan-3 wireframe vtlast">
		<h3>Newest Ventures</h3>
		<ul>
			<li>GroupTwits</li>
			<li>FTJCO</li>
			<li>Bob's Co</li>
			<li>Happy Hardware</li>
			<li>Venture Bros.</li>
		</ul>
	</div>
	<div class="vtspan-3 wireframe vtlast">
		<h3>Top Contributors</h3>
		<ul>
			<li>@emenel</li>
			<li>@igniter</li>
			<li>@josephdee</li>
			<li>@ryantaylor</li>
			<li>@remarkk</li>
		</ul>
	</div>
</div>
