<%= render :partial => 'shared/twitter',:locals =>{:initial_value => ''}  %>

<div class="vtspan-3 vtlast">
	<div id="actions">
		<h3>Log in to Ventwits so you can:</h3>
		<ul>
			<li>Create new Ventures and manage Needs</li>
			<li>Participate in on going Ventures</li>
			<li>Fulfil Needs and help others see their vision come to life</li>
			<li>Become part of a vibrant community of talented professionals</li>
		</ul>
	</div>
</div>

<hr>

<div id="main-content" class="vtcolumn vtspan-5">
  <%= render :partial => 'shared/message_feed', :locals =>{:messages => @svc_messages} %>
</div>

<div id="additional-content" class="vtspan-3 vtlast vtclearfix">
	<div class="vtspan-3 vtlast">
			<h3>Most Active Ventures</h3>
			<ul>
			  <%- @top_ventures.each do |v| -%>
				  <li><%= link_to v, venture_path(v) %></li>
				<%- end %>
			</ul>
	</div>
	<div class="vtspan-3  vtlast">
			<h3>Newest Ventures</h3>
			<ul>
				<%- @newest_ventures.each do |v| -%>
					<li><%= link_to(v, venture_path(v)) %></li>
				<%- end -%>
			</ul>
	</div>
	<div class="vtspan-3  vtlast">
			<h3>Top Contributors</h3>
			<ul>
			  <%- @top_contributors.each do |c| -%>
				  <li><%= link_to c.screen_name, user_path(c) %></li>
				<%- end %>
			</ul>
	</div>
</div>
