<%= render :partial => 'shared/twitter',:locals =>{:initial_value=>@venture.tag} %>

<div class="vtspan-3 vtlast">
	<div id="actions">
		<h3 id="venture_name"><%=h @venture.name %></h3>
		
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$("#venture_name").editable('/ventures/update/<%= @venture.id %>.part', $.extend({}, editableOpts, {name: "venture[name]"}));
			});
		</script>
		
		<%= render :partial => 'shared/editable_field', :locals => {:label => "Description", :name => "venture[description]", :value => @venture.description} %>
		<%= render :partial => 'shared/editable_field', :locals => {:label => "Url", :name => "venture[url]", :value => @venture.url} %>
		<%= render :partial => 'shared/editable_field', :locals => {:label => "Venture Tag", :name => "venture[tag]", :value => @venture.tag} %>
	</div>
</div>

<hr>

<div class="vtcolumn vtspan-5">
	<div id="venture-graph" class="">
		<h3>GRAPH</h3>
	</div>
	<%= render :partial => 'shared/message_feed',:locals=>{:messages => @venture_messages} %>
</div>

<div class="vtcolumn vtspan-3 vtlast">
	<div id="additional-content" class="vtclearfix">
	  <% if @venture.needs.any? %>
		<div class="vtspan-3 vtlast">
				<h3>Current Needs</h3>
				<ul>
				  <% @venture.needs.each do |need| %>
					<li><%= link_to need.tag,[@venture, need] %></li>
					<% end %>
				</ul>
		</div>
		<% end %>
		<div class="vtspan-3 vtlast">
				<h3>Contributors</h3>
				<ul>
					<li><%= link_to '@emenel' %></li>
					<li><%= link_to '@igniter' %></li>
					<li><%= link_to '@josephdee' %></li>
				</ul>
		</div>
	</div>
</div>