<%= render :partial => 'shared/twitter',:locals =>{:initial_value=>@venture.tag} %>

<div class="vtspan-3 vtlast">
	<div id="actions">
		<h3><%=h @venture.name %></h3>
		<%= render :partial => 'shared/editable_field', :locals => {:label => "Description", :value => @venture.description} %>
		<p><span class="label">Url</span> <span id="venture_url"><%= link_to h(@venture.url) %></span></p>
		<p><span class="label">Venture Tag</span> <span id="venture_tag"><%=h @venture.tag %></span></p>

		<p><span class="label">Related Links</span></p>
	</div>
	
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			var temp = {};
			var editableOpts = {
				indicator: 'Saving...',
        tooltip: 'Click to edit...',
        cancel: 'Cancel',
        submit: 'OK',
				tooltip: 'Click to edit'
			};

			$('#venture_description').editable('/ventures/update/<%= @venture.id %>.part', $.extend(temp, editableOpts, {name: 'venture[description]'}));
		});
	</script>
</div>

<hr>

<div class="vtcolumn vtspan-5">
	<div id="venture-graph" class="">
		<h3>GRAPH</h3>
	</div>
	<%= render :partial => 'shared/message_feed',:locals=>{:messages => @venture_messages} %>
</div>

<div class="vtcolumn vtspan-3 vtlast">
	<div id="additional-content" class="vtclearfix">
	  <% if @venture.needs.any? %>
		<div class="vtspan-3 vtlast">
				<h3>Current Needs</h3>
				<ul>
				  <% @venture.needs.each do |need| %>
					<li><%= link_to need.tag,[@venture, need] %></li>
					<% end %>
				</ul>
		</div>
		<% end %>
		<div class="vtspan-3 vtlast">
				<h3>Contributors</h3>
				<ul>
					<li><%= link_to '@emenel' %></li>
					<li><%= link_to '@igniter' %></li>
					<li><%= link_to '@josephdee' %></li>
				</ul>
		</div>
	</div>
</div>