<h2><%=h @venture.tag %></h2>

<%= render :partial => 'shared/twitter',:locals =>{:initial_value=>@venture.tag} %>

<div class="vtspan-3 vtlast">
	<div id="actions">
		<h3>
			<span id="venture_name"><%=h @venture %></span>
			<%= link_to "(edit)", "", {:class => "edit-link", :class => "editLinkVentureName"} if logged_in? %>	
		</h3>
				
		<%- if @venture.name.blank? %>
			<p><%= link_to "Give this venture a full name", "", {:class => "editLinkVentureName"} %></p>
		<%- end -%>
				
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				
				$(".editLinkVentureName").click(function (event) {
					event.preventDefault();
					$("#venture_name").click();
					$('.editLinkVentureName').hide();
				});
						
				$("#venture_name").click(function (event){
					$('.editLinkVentureName').hide();
				});
				
				$("#venture_name").editable('/ventures/update/<%= @venture.id %>.part', $.extend({}, editableOpts, {
					name: "venture[name]",
					callback: function() {
						$('.editLinkVentureName').show();
					},
					onreset: function() {
						$('.editLinkVentureName').show();
					},
					onerror: function() {
						$('.editLinkVentureName').show();
					}
				}));
				
			});
		</script>
		
		<%= render :partial => 'shared/editable_field', :locals => {:label => "Description", :name => "venture[description]", :value => @venture.description} %>
		<%= render :partial => 'shared/editable_field', :locals => {:label => "Url", :name => "venture[url]", :value => @venture.url} %>
		<p><span class="label">Tag</span> <%= render :partial => 'shared/editable_value', :locals => {:value => @venture.tag} %></p>		
	</div>
</div>

<hr>

<div class="vtcolumn vtspan-5">
	<!-- <div id="venture-graph" class="">
			<h3>GRAPH</h3>
		</div> -->
	<%= render :partial => 'shared/message_feed',:locals=>{:messages => @venture_messages} %>
</div>

<div class="vtcolumn vtspan-3 vtlast">
	<div id="additional-content" class="vtclearfix">
	  <% if @venture.needs.any? %>
		<div class="vtspan-3 vtlast">
				<h3>Current Threads</h3>
				<ul>
				  <% @venture.needs.each do |need| %>
					<li><%= link_to need.tag,[@venture, need] %></li>
					<% end %>
				</ul>
		</div>
		<% end %>
		<div class="vtspan-3 vtlast">
				<h3>Contributors</h3>
				<ul>
				  <%- @contributors.each do |c| -%>
					  <li><%= link_to c.screen_name, user_path(c) %></li>
					<%- end -%>
				</ul>
		</div>
	</div>
</div>