<div id="twitter" class="vtspan-5 wireframe">
	<h2>What are you working on?</h2>
	<%- form_tag('messages/new') do -%>
		<%= text_area_tag('message') %>	
		<p><%= submit_tag('Post') %></p>
	<%- end -%>
</div>

<div id="actions" class="vtspan-3 wireframe vtlast">
	  <h3><%=h @user.name %></h3>
	  <%- unless @user.bio.empty? -%><p><span class="label">Bio</span> <%=h @user.bio %></p><%- end -%>
	  <%- unless @user.url.empty? -%><p><span class="label">Url</span> <%=h @user.url %></p><%- end -%>
</div>

<%= render :partial => 'shared/twitter_feed' %>

<div id="additional-content" class="vtspan-3 vtlast vtclearfix">
	<div class="vtspan-3 wireframe vtlast">
		<h3>My Needs</h3>
	</div>
	<div class="vtspan-3 wireframe vtlast">
		<h3>New Opportunities</h3>
	</div>
</div>