<div id="twitter" class="vtspan-4 wireframe">
	<h2>What are you working on?</h2>
	<%- form_tag('messages/new') do -%>
		<%= text_area_tag('message') %>	
		<p><%= submit_tag('Post') %></p>
	<%- end -%>
</div>

<div id="actions" class="vtspan-4 wireframe vtlast">
	  <%=h @user.name %>

	  Bio <%=h @user.bio %>

	  Url <%=h @user.url %>
</div>