<%= render :partial => 'shared/twitter',:locals=>{:initial_value=>''} %>	

<div id="profile" class="vtspan-3 vtlast vtclearfix">
  <h3><%=h @user.screen_name %></h3>
	<div class="data">
	  <%- unless @user.description.empty? -%><p><span class="label">Bio</span> <%=h @user.description %></p><%- end -%>
	  <%- unless @user.url.empty? -%><p><span class="label">Url</span> <%= link_to @user.url,@user.url %></p><%- end -%>
	</div>
</div>

<hr>

<div class="vtcolumn vtspan-5">
	<%= render :partial => 'shared/message_feed', :locals =>{:messages => @user.messages} %>
</div>

<div class="vtcolumn vtspan-3 vtlast">
	<div id="additional-content" class="vtspan-3 vtlast">
		<div class="vtspan-3 ">
			<h3>My Threads</h3>
			<ul>
			  <%- @user.needs.each do |n| -%>
			    <li><%= link_to n, n %></li>
			  <%- end -%>
			</ul>
		</div>
		<div class="vtspan-3 ">
			<h3>My Ventures</h3>
			<ul>
				<%# TODO: dan - fix Account.ventures in the model %>
				<%# @user.ventures.each do |v| %>
					<li><%# link_to v.tag, v %></li>
				<%# end %>
			</ul>
		</div>
	</div>
</div>