<%- local_id = srand -%>

<p><span class="label"><%= label %></span> <span id="<%= "edit#{local_id}" %>"><%= render :partial => 'shared/editable_value', :locals => {:value => value || "Click to add a #{label.downcase}"} %></span> <%= link_to "(edit)", "", {:class => "edit-link", :id => "editLink#{local_id}"} if logged_in? %></p>

<%- if logged_in? -%>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		
		var resetEditButton = function () {
			$('#<%= "editLink#{local_id}" %>').show();
		};
		
		$('#<%= "editLink#{local_id}" %>').click(function (event) {
			event.preventDefault();
			$("#edit<%= local_id %>").click();
		});
		
		$("#edit<%= local_id %>").click(function (event){
			$('#<%= "editLink#{local_id}" %>').hide();
		});
		
		$("#edit<%= local_id %>").editable('/<%= params[:controller] %>/update/<%= params[:id] %>.part', $.extend({}, editableOpts, {
			name: "<%= name %>",
			callback: function() {
				resetEditButton();
			},
			onreset: function() {
				resetEditButton();
			},
			onerror: function() {
				resetEditButton();
			}			
		}));
	});
</script>
<%- end -%>