<%- local_id = "editor#{srand}" -%>

<p><span class="label"><%= label %></span> <span id="<%= local_id %>"><%= render :partial => 'shared/editable_value', :locals => {:value => value} %></span></p>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$("#<%= local_id %>").editable('/<%= params[:controller] %>/update/<%= params[:id] %>.part', $.extend({}, editableOpts, {name: "<%= name %>"}));
	});
</script>
