<h3>Please log in with you Twitter account</h3>
<% form_tag session_path do -%>
	<div class="vtclearfix">
		<div class="vtspan-2">
			<%= label_tag 'login' %>
			<%= text_field_tag 'login', @login %>
		</div>
		<div class="vtspan-2 last">
			<%= label_tag 'password' %>
			<%= password_field_tag 'password', nil %>
		</div>
	</div><br>
	<p><%= submit_tag 'Log in' %></p>
<% end %>