<div class="tweet vtclearfix <%= cycle("odd", "even") %>">
	<%= link_to image_tag('rss.png'), venture_path(message.ventures[0]) %>
	<div class="tweet-content">
		<%= "#{message.ventures[0]}: #{message.text}" %>
		<span class="tweet-meta"><%=time_ago_in_words(message.created_at)%> ago &middot; <%= link_to 'View Post',message.original_url,:target=>'_new' %></span>
	</div>
</div>