<h3>Latest conversations</h3>
<div id="twitter-feed" class="vtspan-5 ">
	<div class="twitter-posts">
    <%- messages.each do |message| -%>
	    <div class="tweet vtclearfix <%= cycle("odd", "even") %>">
	    	<%= image_tag(message.account.profile_image_url) %>
	    	<div class="tweet-content">
	    	  <%- 
	    	    message.ventures.each do |v| 
	            message.text.gsub! v.tag.downcase, link_to(v.tag, venture_path(v))
	          end 
	          
	          message.needs.each do |n|
	            message.text.gsub! n.tag.downcase, link_to(n.tag, need_path(n))
            end
	            
	          -%>
	    		<%= "#{message.account.screen_name}: #{message.text}" %>
					<%- reply_id = "reply#{srand}" -%>
	    		<span class="tweet-meta"><%=time_ago_in_words(message.created_at)%> &middot; <%=link_to 'Reply',"http://twitter.com/home?status=@#{message.account.screen_name}", {:id => reply_id} %> &middot; <%= link_to 'View Tweet',"http://www.twitter.com/#{message.account.screen_name}/statuses/#{message.twitter_id}" %></span>
	    	</div>
	    </div>
			<script type="text/javascript" charset="utf-8">
				$(document).ready(function() {
					$("#<%= reply_id %>").click(function(event) {
						event.preventDefault();
						$("#twitter_message_box").val("@<%= message.account.screen_name %> "+$("#twitter_message_box").val());
					});
				});
			</script>
    <%- end -%>
	</div>
</div>