<div id="twitter-feed" class="vtspan-5 wireframe">
	<h2>Latest conversations</h2>
	<div class="twitter-posts">
		<div class="tweet vtclearfix">
			<%= image_tag('test_avatars/emenel.jpg') %>
			<div class="tweet-content">
				emenel: some functional html wireframes are in progress today for ^ventwits
				<span class="tweet-meta">43 minutes ago · Reply · View Tweet</span>
			</div>
		</div>
		<div class="tweet vtclearfix">
			<%= image_tag('test_avatars/default.png') %>
			<div class="tweet-content">
				ventwits: Testing a post
				<span class="tweet-meta">about 13 hours ago · Reply · View Tweet</span>
			</div>
		</div>
		<div class="tweet vtclearfix">
			<%= image_tag('test_avatars/emenel.jpg') %>
			<div class="tweet-content">
				emenel: got basic grid for ^ventwits layout working.. now can make prototype/wireframe html
				<span class="tweet-meta">about 20 hours ago · Reply · View Tweet</span>
			</div>
		</div>
		<div class="tweet vtclearfix">
			<%= image_tag('test_avatars/emenel.jpg') %>
			<div class="tweet-content">
				emenel: rockin' to hüsker dü as i work on ^ventwits !views and respond to email
				<span class="tweet-meta">about 21 hours ago · Reply · View Tweet</span>
			</div>
		</div>
		<div class="tweet vtclearfix">
			<%= image_tag('test_avatars/emenel.jpg') %>
			<div class="tweet-content">
				emenel: lots of running around today, need to get going. hope to have some time for !views for ^ventwits, but might end up being tomorrow.
				<span class="tweet-meta">3 days ago · Reply · View Tweet</span>
			</div>
		</div>
		<div class="tweet vtclearfix">
			<%= image_tag('test_avatars/josephdee.jpg') %>
			<div class="tweet-content">
				josephdee: ^svc \!development Going to need access to the @ventwits account so I don't annoy people.
				<span class="tweet-meta">4 days ago · Reply · View Tweet</span>
			</div>
		</div>
		<div class="tweet vtclearfix">
			<%= image_tag('test_avatars/igniter.jpg') %>
			<div class="tweet-content">
				Igniter: initial profiles for ^ventwits and #svc done - ready to enter new year launching alphas and raising funds
				<span class="tweet-meta">12 days ago · Reply · View Tweet</span>
			</div>
		</div>
		<div class="tweet vtclearfix">
			<%= image_tag('test_avatars/igniter.jpg') %>
			<div class="tweet-content">
				Igniter: Writing the basics on #svc and ^ventwits
				<span class="tweet-meta">13 days ago · Reply · View Tweet</span>
			</div>
		</div>
	</div>
</div>