<p>
  <b>Name:</b>
  <%=h @skill_tag.name %>
</p>

<p>
  <b>User:</b>
  <%=h @skill_tag.user %>
</p>

<p>
  <b>Need:</b>
  <%=h @skill_tag.need %>
</p>


<%= link_to 'Edit', edit_skill_tag_path(@skill_tag) %> |
<%= link_to 'Back', skill_tags_path %>
