<h2>Without you there is nothing. <%= link_to "Jump in and build something.", "/" %></h2>

<p><strong>The Team:</strong></p>
<ul>
	<li><%= link_to "Michael Lewkowitz, Twit", "/users/Igniter" %></li>
	<li><%= link_to "Joseph Dee, Architecht", "/users/josephdee" %></li>
	<li><%= link_to "Matt Nish-Lapidus, Interfacer", "/users/emenel" %></li>
	<li><%= link_to "Peter Flaschner, Designer", "/users/flashlight" %></li>
	<li><%= link_to "Dan Williams, Developer", "/users/j_dan_williams" %></li>
	<li><%= link_to "Top Twits", "/" %></li>
</ul>