<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Ventwits</title>
		
		<%= stylesheet_link_tag "blueprint/screen", "global" %>
		<%= javascript_include_tag :defaults %>
	</head>

	<body>
		<div class="vtcontainer">
			<div id="header" class="vtspan-8 wireframe vtclearfix">
				<h1>Ventwits</h1>

				<div id="main-nav">
					<%= link_to 'All Ventures', '/' %>
					<%= link_to 'My Ventures', 'user/show' %>
				</div>
				
				<%- form_tag 'search' do -%>
				<%= label_tag 'search', 'Search' %>
				<%= text_field_tag 'search' %>
				<%= submit_tag 'Search' %>
				<%- end -%>
			</div>
			<div>
        <%= flash[:notice] %>
      </div>
			<%= yield %>
			
			<div id="footer" class="vtprepend-top vtspan-8 wireframe">
				Footer
			</div>
		</div>
	</body>
</html>